<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <div th:replace="fragments/header :: header">
        <h1>Static header</h1>
    </div>
    <h1>Restaurants</h1>
    <a href="/restaurants/add">Add Restaurant</a>
    <br/><br/>
    <div>
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.getId()}">id</td>
                <td th:text="${restaurant.getName()}">name</td>
                <td th:text="${restaurant.getEmail()}">email</td>
                <td th:text="${restaurant.getPhoneNumber()}">phone</td>
                <td><a th:href="@{'/restaurants/'+${restaurant.getId()}+'/edit'}">Edit</a></td>
                <td><a th:href="@{'/restaurants/'+${restaurant.getId()}+'/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>

</body>
</html>